<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href='/css/styles.css'>
     
    </head>
    <body>
        <div class='main-content'>
        {{>header}}
        {{!-- <marquee>Welcome To Weather App</marquee> --}}
        <h2 class="title">{{title}}</h2>

        <p>This site provides you with the weather at any given location in the wolrd!</p>
        <p>Note:If two places have same name enter that location along with the country of that location</p>
        <form>
            <input placeholder="Enter Location">
            <button>Search</button>
        </form>
        <p id='msg1'></p>
        <p id='msg2'></p>
        </div>
        {{>footer}}

           <script src='/js/app.js'></script>
    </body> 
</html>