body{
    background-color: #eeeeee;
    color:#333333;
    font-family:'Arial';
    max-width:600px;
    margin:0 auto;
    padding: 0 16px;
    display:flex;
    flex-direction: column;
    min-height: 98vh
}
.main-content{
    flex-grow:3;
}

footer {
    background-color: #252525;
    color:#c0bdbd;
    border-top:1px solid #252525;
    margin-top: 16px;
    padding-left:16px;;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    font-size: 25px;
    color:#888888;
    margin-top:50px;
    margin-right:16px;
    text-decoration: none;
}

.potrait{
    width:200px;
}

input{
    margin-top:25px;
    padding:8px;
    border:1px solid #cccccc;
}

button{
    cursor: pointer;
    background: #888888;
    border: 1px solid #888888;
    padding: 8px;
    color:white;    
}

.line{
    margin-left: 180px;
}

.title{
    font-size: 30px;
}